![Laliga Logo](https://statics.laliga.es/landings2/mejorgol/img/logos/Logo-LaLiga-Santander-2018-2019-horizontal-color.svg?20200420173314)

#### Bekzhan Satarov - Spanish Laliga Matches
As a big football fan, the choice was obvious.
La Liga for me the most interesting.
The selected datasets contains statistics of all
La Liga matches from season 09/10 to 18/19. Each season has 380 games.
- Div - League Division
- Date - Match Date (dd/mm/yy)
- HomeTeam - Home Team
- AwayTeam - Away Team
- FTHG - Full Time Home Team Goals
- FTAG - Full Time Away Team Goals
- FTR - Full Time Result (H=Home Win, D=Draw, A=Away Win)
- HTHG - Half Time Home Team Goals
- HTAG - Half Time Away Team Goals
- HTR - Half Time Result (H=Home Win, D=Draw, A=Away Win)
- HS - Home Team Shots
- AS - Away Team Shots
- HST - Home Team Shots on Target
- AST - Away Team Shots on Target
- HF - Home Team Fouls Committed
- AF - Away Team Fouls Committed
- HC - Home Team Corners
- AC - Away Team Corners
- HY - Home Team Yellow Cards
- AY - Away Team Yellow Cards
- HR - Home Team Red Cards
- AR - Away Team Red Cards


- B365H - Bet365 home win odds
- B365D - Bet365 draw odds
- B365A - Bet365 away win odds
- BWH - Bet&Win home win odds
- BWD - Bet&Win draw odds
- BWA - Bet&Win away win odds
- GBH - Gamebookers home win odds
- GBD - Gamebookers draw odds
- GBA - Gamebookers away win odds
- IWH - Interwetten home win odds
- IWD - Interwetten draw odds
- IWA - Interwetten away win odds
- LBH - Ladbrokes home win odds
- LBD - Ladbrokes draw odds
- LBA - Ladbrokes away win odds
- SBH - Sportingbet home win odds
- SBD - Sportingbet draw odds
- SBA - Sportingbet away win odds
- WHH - William Hill home win odds
- WHD - William Hill draw odds
- WHA - William Hill away win odds
- SJH - Stan James home win odds
- SJD - Stan James draw odds
- SJA - Stan James away win odds
- VCH - VC Bet home win odds
- VCD - VC Bet draw odds
- VCA - VC Bet away win odds
- BSH - Blue Square home win odds
- BSD - Blue Square draw odds
- BSA - Blue Square away win odds
- PSH - Pinnacle home win odds
- PSD - Pinnacle draw odds
- PSA - Pinnacle away win odds
- PSCH - PSH home win odds
- PSCD - PSH draw odds
- PSCA - PSH away win odds


- Bb1X2 - Number of BetBrain bookmakers used to calculate match odds averages and maximums
- BbMxH - Betbrain maximum home win odds
- BbAvH - Betbrain average home win odds
- BbMxD - Betbrain maximum draw odds
- BbAvD - Betbrain average draw win odds
- BbMxA - Betbrain maximum away win odds
- BbAvA - Betbrain average away win odds
- BbOU - Number of BetBrain bookmakers used to calculate over/under 2.5 goals (total goals) averages and maximums
- BbMx>2.5 - Betbrain maximum over 2.5 goals
- BbAv>2.5 - Betbrain average over 2.5 goals
- BbMx<2.5 - Betbrain maximum under 2.5 goals
- BbAv<2.5 - Betbrain average under 2.5 goals
- BbAH - Number of BetBrain bookmakers used to Asian handicap averages and maximums
- BbAHh - Betbrain size of handicap (home team)
- BbMxAHH - Betbrain maximum Asian handicap home team odds
- BbAvAHH - Betbrain average Asian handicap home team odds
- BbMxAHA - Betbrain maximum Asian handicap away team odds
- BbAvAHA - Betbrain average Asian handicap away team odds

In [44]:
# First of all lets import all necessary libraries

import numpy as np
import pandas as pd

In [45]:
# Now we can start by reading the datasets
# We will concatenate all csv files into one single dataset

filenames = ['season-0910.csv', 
             'season-1011.csv', 
             'season-1112.csv', 
             'season-1213.csv', 
             'season-1314.csv', 
             'season-1415.csv', 
             'season-1516.csv', 
             'season-1617.csv', 
             'season-1718.csv', 
             'season-1819.csv']
datasets = [pd.read_csv(f) for f in filenames]
data = pd.concat(datasets, axis=0, ignore_index=True)

In [46]:
# Our dataset looks like this

data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSH,PSD,PSA,PSCH,PSCD,PSCA
0,SP1,2009-08-29,Real Madrid,La Coruna,3,2,H,2,1,H,...,9.00,1.92,11.00,8.69,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,2009-08-29,Zaragoza,Tenerife,1,0,H,0,0,D,...,1.38,1.36,3.20,3.01,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,2009-08-30,Almeria,Valladolid,0,0,D,0,0,D,...,1.62,1.54,2.54,2.41,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,2009-08-30,Ath Bilbao,Espanol,1,0,H,0,0,D,...,1.66,1.58,2.47,2.30,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,2009-08-30,Malaga,Ath Madrid,3,0,H,1,0,H,...,2.60,2.45,1.58,1.51,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,SP1,18/05/2019,Levante,Ath Madrid,2,2,D,2,0,H,...,1.91,1.87,2.04,1.99,3.67,3.87,2.02,4.34,4.10,1.81
3796,SP1,18/05/2019,Sevilla,Ath Bilbao,2,0,H,1,0,H,...,2.70,2.60,1.60,1.53,1.90,3.42,4.81,2.17,3.08,4.15
3797,SP1,18/05/2019,Valladolid,Valencia,0,2,A,0,1,A,...,1.78,1.74,2.20,2.13,8.05,4.91,1.42,8.01,5.13,1.40
3798,SP1,19/05/2019,Eibar,Barcelona,2,2,D,2,2,D,...,2.03,1.98,1.92,1.88,3.83,4.20,1.89,4.96,4.55,1.65
3799,SP1,19/05/2019,Real Madrid,Betis,0,2,A,0,0,D,...,1.94,1.91,2.01,1.98,1.59,5.09,4.86,1.33,6.38,8.09

In [47]:
# We can start doing preprocessing
# Let's look at colums

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 76 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Div       3800 non-null   object
 1   Date      3800 non-null   object
 2   HomeTeam  3800 non-null   object
 3   AwayTeam  3800 non-null   object
 4   FTHG      3800 non-null   int64
 5   FTAG      3800 non-null   int64
 6   FTR       3800 non-null   object
 7   HTHG      3800 non-null   int64
 8   HTAG      3800 non-null   int64
 9   HTR       3800 non-null   object
 10  HS        3800 non-null   int64
 11  AS        3800 non-null   int64
 12  HST       3800 non-null   int64
 13  AST       3800 non-null   int64
 14  HF        3800 non-null   int64
 15  AF        3800 non-null   int64
 16  HC        3800 non-null   int64
 17  AC        3800 non-null   int64
 18  HY        3800 non-null   int64
 19  AY        3800 non-null   int64
 20  HR        3800 non-null   int64
 21  AR        3800 non-null   int64
 22  B365H     3800 non-null   float64
 23  B365D     3800 non-null   float64
 24  B365A     3800 non-null   float64
 25  BWH       3800 non-null   float64
 26  BWD       3800 non-null   float64
 27  BWA       3800 non-null   float64
 28  GBH       1515 non-null   float64
 29  GBD       1515 non-null   float64
 30  GBA       1515 non-null   float64
 31  IWH       3794 non-null   float64
 32  IWD       3794 non-null   float64
 33  IWA       3794 non-null   float64
 34  LBH       3417 non-null   float64
 35  LBD       3417 non-null   float64
 36  LBA       3417 non-null   float64
 37  SBH       1137 non-null   float64
 38  SBD       1137 non-null   float64
 39  SBA       1137 non-null   float64
 40  WHH       3800 non-null   float64
 41  WHD       3800 non-null   float64
 42  WHA       3800 non-null   float64
 43  SJH       1929 non-null   float64
 44  SJD       1929 non-null   float64
 45  SJA       1929 non-null   float64
 46  VCH       3799 non-null   float64
 47  VCD       3799 non-null   float64
 48  VCA       3799 non-null   float64
 49  BSH       1520 non-null   float64
 50  BSD       1520 non-null   float64
 51  BSA       1520 non-null   float64
 52  Bb1X2     3800 non-null   int64
 53  BbMxH     3800 non-null   float64
 54  BbAvH     3800 non-null   float64
 55  BbMxD     3800 non-null   float64
 56  BbAvD     3800 non-null   float64
 57  BbMxA     3800 non-null   float64
 58  BbAvA     3800 non-null   float64
 59  BbOU      3800 non-null   int64
 60  BbMx>2.5  3799 non-null   float64
 61  BbAv>2.5  3799 non-null   float64
 62  BbMx<2.5  3799 non-null   float64
 63  BbAv<2.5  3799 non-null   float64
 64  BbAH      3790 non-null   float64
 65  BbAHh     3790 non-null   float64
 66  BbMxAHH   3790 non-null   float64
 67  BbAvAHH   3790 non-null   float64
 68  BbMxAHA   3790 non-null   float64
 69  BbAvAHA   3790 non-null   float64
 70  PSH       2657 non-null   float64
 71  PSD       2657 non-null   float64
 72  PSA       2657 non-null   float64
 73  PSCH      2659 non-null   float64
 74  PSCD      2659 non-null   float64
 75  PSCA      2659 non-null   float64
dtypes: float64(52), int64(18), object(6)
memory usage: 2.2+ MB

In [48]:
# Date column (that is string) can be converted to actual Date format 

data['Date'] = pd.to_datetime(data['Date'])

In [49]:
# Div column's values are same(SP1) for all records

data['Div'].value_counts()

SP1    3800
Name: Div, dtype: int64

In [50]:
# So it can be deleted without consequences

data = data.drop(['Div'], axis=1)

In [51]:
# There is columns with too many null values
# They can be removed too

data = data.drop(['GBH', 'GBD', 'GBA', 'SBH',
                  'SBD', 'SBA', 'SJH', 'SJD',
                  'SJA', 'BSH', 'BSD', 'BSA',
                  'PSCH', 'PSCD', 'PSCA'], axis=1)

In [52]:
# We can also delete some columns to decrease their amount for simplicity of predicting
# The actual reason I am deleting these columns is it is
# hard to find the odds of all provided betting odds

data = data.drop(['Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA',
       'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'], axis=1)

In [53]:
# Let's take a look for our dataset

data.isnull().any()

Date        False
HomeTeam    False
AwayTeam    False
FTHG        False
FTAG        False
FTR         False
HTHG        False
HTAG        False
HTR         False
HS          False
AS          False
HST         False
AST         False
HF          False
AF          False
HC          False
AC          False
HY          False
AY          False
HR          False
AR          False
B365H       False
B365D       False
B365A       False
BWH         False
BWD         False
BWA         False
IWH          True
IWD          True
IWA          True
LBH          True
LBD          True
LBA          True
WHH         False
WHD         False
WHA         False
VCH          True
VCD          True
VCA          True
PSH          True
PSD          True
PSA          True
dtype: bool

In [54]:
# We still have null values, but their amount is small
# They can be replaced with average values

data = data.fillna(data.mean())

In [55]:
# Last thing we must implement is to normalize categorical column values of type string

#data['HomeTeam'] = data['HomeTeam'].astype('category')
#data['AwayTeam'] = data['AwayTeam'].astype('category')

#cat_columns = data.select_dtypes(['category']).columns

#data[cat_columns] = data[cat_columns].apply(lambda x: x.cat.codes)

from sklearn.preprocessing import LabelEncoder
labelencoder= LabelEncoder()
data['HomeTeam'] = labelencoder.fit_transform(data['HomeTeam'])
data['AwayTeam'] = labelencoder.fit_transform(data['AwayTeam'])

In [56]:
# Preprocessing of dataset is finished
# Now we can begin to make predictions
# Before get started, let's look at our remaining columns

data.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY',
       'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH',
       'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'PSH', 'PSD', 'PSA'],
      dtype='object')

In [57]:
# ['Date', 'HomeTeam', 'AwayTeam'] - basic match info(independent data)

# ['B365H', 'B365D', 'B365A', 'BWH',
# 'BWD', 'BWA', 'IWH', 'IWD', 'IWA',
# 'LBH', 'LBD', 'LBA', 'WHH', 'WHD',
# 'WHA', 'VCH', 'VCD', 'VCA', 'PSH', 
# 'PSD', 'PSA'] - bookmakers betting odds(independent data)

# ['FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 
# 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 
# 'AC', 'HY', 'AY', 'HR', 'AR'] - statistical information after match is played(dependent data)

In [58]:
# Every our ML algorithms requires train and test part of given dataset
# Let's split it

from sklearn.model_selection import train_test_split

x = data[['HomeTeam', 'AwayTeam', 
          'B365H', 'B365D', 'B365A', 
          'BWH', 'BWD', 'BWA', 
          'IWH', 'IWD', 'IWA', 
          'LBH', 'LBD', 'LBA', 
          'WHH', 'WHD', 'WHA', 
          'VCH', 'VCD', 'VCA', 
          'PSH', 'PSD', 'PSA']]
y = data['FTR']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=9)

#### Predicting FTR with Naive Bayes

In [59]:
# I am going to predict 2 games (FCBarcelona - Real Madrid)
# FCBarcelona -[0:0]- Real Madrid (2019-12-18)
# Real Madrid -[2:0]- FCBarcelona (2020-03-01)
# Note that our dataset does not contain these games

# At this stage let's find out numerical values of these clubs
# FCBarcelona's code is 4
# Real Madrid's code is 23

data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,LBA,WHH,WHD,WHA,VCH,VCD,VCA,PSH,PSD,PSA
0,2009-08-29,23,16,3,2,H,2,1,H,28,...,10.000000,1.20,5.00,11.00,1.25,5.0,10.00,2.970704,4.631521,5.818517
1,2009-08-29,34,28,1,0,H,0,0,D,17,...,4.000000,1.80,3.25,3.80,1.80,3.3,4.00,2.970704,4.631521,5.818517
2,2009-08-30,1,30,0,0,D,0,0,D,20,...,3.000000,2.05,3.20,3.10,2.10,3.2,3.20,2.970704,4.631521,5.818517
3,2009-08-30,2,10,1,0,H,0,0,D,14,...,2.800000,2.15,3.20,2.90,2.10,3.2,3.20,2.970704,4.631521,5.818517
4,2009-08-30,20,3,3,0,H,1,0,H,8,...,2.100000,3.10,3.20,2.05,3.20,3.2,2.10,2.970704,4.631521,5.818517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,2019-05-18,19,3,2,2,D,2,0,H,17,...,5.155973,3.60,3.80,1.95,3.60,3.8,2.05,3.670000,3.870000,2.020000
3796,2019-05-18,25,2,2,0,H,1,0,H,9,...,5.155973,1.85,3.30,4.60,1.93,3.5,4.20,1.900000,3.420000,4.810000
3797,2019-05-18,30,29,0,2,A,0,1,A,19,...,5.155973,8.50,4.80,1.38,8.00,5.2,1.40,8.050000,4.910000,1.420000
3798,2019-05-19,8,4,2,2,D,2,2,D,15,...,5.155973,3.70,4.00,1.88,3.70,4.1,1.87,3.830000,4.200000,1.890000
3799,2019-05-19,23,5,0,2,A,0,0,D,9,...,5.155973,1.57,4.80,4.80,1.57,4.8,5.25,1.590000,5.090000,4.860000

In [60]:
# Now we can generate a Naive Bayes model from our data set

from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
# model.fit(x_train, y_train)
model.fit(x, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [62]:
# It scores only

model.score(x_test, y_test)

0.39407894736842103

In [63]:
# FCBarcelona -[0:0]- Real Madrid (2019-12-18, season 2019/2020, Camp Nou)
# https://chucknorisk.com/matches/fc-barcelona-vs-real-madrid-2019-12-18/

model.predict([[4, 23,
                1.65, 4.20, 4.75,
                1.72, 4.20, 4.33,
                1.75, 4.00, 4.30,
                1.67, 4.00, 4.50,
                1.70, 4.20, 4.50,
                0, 0, 0,
                1.71, 4.12, 4.87]])

array(['D'], dtype='<U1')

In [64]:
# Real Madrid -[2:0]- FCBarcelona (2020-03-01, season 2019/2020, Santiago Bernabeu)
# https://chucknorisk.com/matches/real-madrid-vs-fc-barcelona-2020-03-01/

model.predict([[23, 4,
                2.25, 3.60, 3.10,
                2.20, 3.60, 3.10,
                2.30, 3.60, 2.95,
                2.25, 3.50, 2.90,
                0, 0, 0,
                0, 0, 0,
                2.35, 3.58, 3.05]])

array(['H'], dtype='<U1')

As we can see from these two predictions Naive Bayes Classifier model trained by last 10 year games successfully predicted FTR(Full Time Result) of FCBarcelona and Real Madrid's games, which were played only after the dataset was introduced.

To make own predictions:

`model.predict([[HomeTeam, AwayTeam,   - codes 
                B365H, B365D, B365A,   - Bet365
                BWH, BWD, BWA,         - Bwin
                IWH, IWD, IWA,         - Interwetten
                LBH, LBD, LBA,         - Ladbrokes
                WHH, WHD, WHA,         - William Hill
                VCH, VCD, VCA          - VC Bet
                'PSH', 'PSD', 'PSA']]) - Pinnacle`

'0' means I could not find that betting odd.

Note that an accuracy can variate depending on the amount games football clubs played against each other.